// Custom.scss
// Option A: Include all of Bootstrap

/*
$primary : rgb(78, 114, 223);
$secondary :#fff;
$accent: rgb(91, 153, 247);
$body-bg : white;
$light : 
**/

$primary : Orange;
$secondary : white;

html, body {
    height:100%;
    width:100%;
    overflow:hidden;
}
body {

    background-image: url("../images/emile-perron-xrVDYZRGdw4-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
#top-page {
    
}

@import "../node_modules/bootstrap/scss/bootstrap"; 